.analytic-system-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}
.analytic-system-container1 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 181px;
  max-width: initial;
  height: 163px;
  position: relative;
  z-index: 2;
}
