.flex-column-container6 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 125px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: url("/assets/image_43dfe9ff.png") 50% / cover no-repeat;
  border: none;
  border-radius: 20px 20px 0px 0px;
}
.svg-container4 {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
