.beauty-health-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.beauty-health-banner {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 1200px;
  height: 54px;
  margin-left: -79px;
  background: linear-gradient(90deg, rgba(249, 249, 249, 0) 96.9%, rgba(249, 249, 249, 1) 100%);
}
