.promo-card1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 20px 14px;
  background: #f8f8f8;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.delivery-service-section {
  flex: 0 0 auto;
  padding-top: 5px;
}
.golden-apple-heading {
  padding: 0;
  margin: 0;
  font: 700 16px Mulish, sans-serif;
  color: #032c28;
}
.golden-apple-cosmetics-description {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font: 400 14px Mulish, sans-serif;
  color: #032c28;
}
.discount-button-container {
  flex: 0 0 auto;
  padding-bottom: 6px;
}
.discount-button {
  box-sizing: border-box;
  display: block;
  width: 60px;
  min-width: 60px;
  height: 42px;
  font: 800 16px "Nunito Sans", sans-serif;
  color: #032c28;
  cursor: pointer;
  background: #8fe248;
  border: none;
  border-radius: 20px;
}
