.hierarchical-text-container {
  flex: 0 0 auto;
  padding-right: 79px;
}
.hierarchical-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
}
.promo-card-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
}
