.beauty-health-container2 {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 30px;
}
.promo-card-container2 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  min-width: 1200px;
  margin-left: -79px;
}
.flex-column-centered {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.flex-column-container{
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: initial;
  height: 170px;
  padding: 11px 15px 123px;
  border: none;
  border-radius: 20px 20px 0px 0px;
}
.bg-1{
  background: url("/assets/image_43dfe9ff.png") 50% / cover no-repeat;
}
.bg-2{
  background: url("/assets/image_8dfa5d67.png") 50% / cover no-repeat;
}
.bg-3{
  background: url("/assets/image_c5e3ca0c.png") 50% / cover no-repeat;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}